
.image1
{
    background-image: url(../images/c-different-animals-in-the-forest-scene-free-vector.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}